{% extends "bootstrap/base.html" %}
{% if title %}
  <title>{{ title  }} - CoderDojoDallas</title>
{% else %}
  <title>CoderDojoDallas</title>
{% endif %}

{% set navigation_bar = [
  ('/', 'home', 'Home'),
  ('/about', 'about', 'About'),
  ('/contact', 'contact', 'Contact'),
  ('/register', 'register', 'Register')
] %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#social-media-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        CoderDojoDallas
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="social-media-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for href, id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e  }}</a></li>
        {% endfor %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Social Media <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://twitter.com/coderdojodallas">Twitter</a></li>
            <li><a href="https://www.facebook.com/CoderDojoDallas">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
