{% import "macros.html" as macros %}

<form action="" method="post" name="mailing_list">
  {{ form.hidden_tag() }}
  <label>Parent/Legal Guardian Name</label>
  {{ macros.render_field(form.first_name, label_visible=False, type='text', placeholder='First Name') }}
  {{ macros.render_field(form.last_name, label_visible=False, type='text', placeholder='Last Name') }}
  <label>Parent/Legal Guardian Email</label>
  {{ macros.render_field(form.email, label_visible=False, type='email', placeholder='Email') }}
  <label>Age of Child</label>
  {{ macros.render_checkbox_field(form.age_group_1) }}
  {{ macros.render_checkbox_field(form.age_group_2) }}
  {{ macros.render_checkbox_field(form.age_group_3) }}
  <button class="btn btn-default" type="submit">Submit</button>
</form>
